<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
    <!-- <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/home.css')}}"> -->
        <!-- <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}"> -->
    <link rel="stylesheet" type ="text/css" href="../static/css//bootstrap.css">
    <link rel="stylesheet" type ="text/css" href="../static/css/education.css">
</head>

<body>
    <div class = "education">
        <div class = 'head offset-col-3 col6'>
            <h3>Work History</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, officia!</p>
        </div>

        <div class="education_items">
            <div class = "education_item">
                <div class = "Left col-5">
                    <h5>Lorem, ipsum dolor.</h5>
                    <p>Lorem, ipsum.</p>
                </div>
                <div class = "right col-7">
                    <h5> Lorem ipsum dolor sit amet.</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel amet similique temporibus praesentium, eos esse quis voluptatum! Odio, facere fuga!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
