<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
    <!-- <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/home.css')}}"> -->
        <!-- <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}"> -->
    <link rel="stylesheet" type ="text/css" href="../static/css//bootstrap.css">
    <link rel="stylesheet" type ="text/css" href="../static/css/home.css">
</head>
<body>
    <!--+++++++++ Left Manue started -->
    <div class="left_column"><div class = "lef_summery"></div></div>
    <!-- -------- Left manue Ended -->


    <!-- +++++++ main section -->
    <div class="middle-column">
        <!-- ++++++++ landing part -->
        <div class="row home_div">
            <div class="row">
                <div class="col-7 home_text">
                    <h3>I'm am Md. Ahsanul Alam Naiem</h3>
                    <h2 style="color:#FFB400">Industrial and Production</h2>
                    <h3> Engineer</h3>

                    <p class="col-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eveniet doloribus enim laboriosam ratione sapiente. Rerum, natus fugiat ipsa blanditiis illum eos quidem qui nisi magnam, corrupti aut temporibus odit!</p>
                    <input type="button" value="Hire Me >">
                </div>
                <div class = "col-1" id = "standing_image">
                    <!-- <img src="{{ url_for('static', filename='images/naiem.png')}}"> -->
                    <img src="../static/images/naiem.png">
                </div>
            </div>
        </div>
        <!-- ---------landing part Ended -->


        <div class="services"><iframe class="iframe" src="services.html" frameborder="1"></iframe></div>
        <div class="services"><iframe class="iframe" src="Education.html" frameborder="1"></iframe></div>
        <div class="services"><iframe class="iframe" src="services.html" frameborder="1"></iframe></div>
        <div class="services"><iframe class="iframe" src="services.html" frameborder="1"></iframe></div>
    </div>

    <!-- ++++++++ Right manue Started -->
    <div class="right_column"><div class="right_summery"></div></div>
    <!-- -------- Right manue Ended -->

</body>
</html>
