<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
</head>
<body>
    <!--+++++++++ Left Manue started -->
    <!-- -------- Left manue Ended -->

    <!-- ++++++++ Right manue Started -->
    <!-- -------- Right manue Ended -->

    <!-- +++++++ main section -->
        <!-- ++++++++ landing part -->
        <div class = "wide">
            <H3>I'm am Md. Ahsanul Alam Naiem </br> Industrial and Production <br> Engineer</H3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eveniet doloribus enim laboriosam ratione sapiente. Rerum, natus fugiat ipsa blanditiis illum eos quidem qui nisi magnam, corrupti aut temporibus odit!</p>
            <div id = "standing_image"><img src="./../files/images/naiem.png.png"></div>
            <input type="button" value="Hire Me >">
        </div>
        <!-- ---------landing part Ended -->


        <!-- +++++++ My services -->
        <div class="services">
            <h3>My services</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatem, dolore magni non mollitia, amet quas ea corrupti cumque adipisci maiores aut quaerat nobis eaque libero vitae, voluptatibus necessitatibus modi.</p>
            <div class="service_item">
                <img src = "">
                <h5>Data Analysis</h5>
                <p>Statistics, Powser Bi, Python</p>
            </div>    
        </div>
        <!-- ------- My services End -->

        <!-- +++++++ portfolio -->
        <div class = "portfolio">
            <div class="category_navs"></div>
            <div class="portfoli_items">
                <div class="Portfolio_items">
                    <img src = "">
                    <div class = "portfolio_item_descriptio">
                        <h5>Supply chain data Analysis</h5>
                        <p>supply chain data Analysis</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------- Portfolio ended -->


        
    <!-- ------- Main section Ended -->





    <footer>
        <p>&copy; 2024 My Basic HTML Page</p>
    </footer>
</body>
</html>
